@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::before, ::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0D0D0D;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #F2F2F2;
  min-height: 100vh;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

canvas {
  display: block;
}

button {
  font-size: 15px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  padding: .7rem 1.5rem;
  border: solid;
  border-radius: .5rem;
  color: #0D0D0D;
  background: #F2F2F2;
}

button:hover {
  background: #F2B872;
}

.main-button {
  font-weight: 700;
  width: 120px;
  height: 40px;
  color: #F2F2F2;
  background: #F27B50;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.instructions {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: left;
}

.prompt {
  width: 100%;
}

input[type="color"] {
  width: 100px;
  height: 30px;
  border: solid;
  border-radius: .5rem;
  justify-self: end;
}

.loading {
  display: inline-block;
  position: absolute;

  top: 63%;
  left: 66%;

  width: 50px;
  height: 50px;
  border: 4px solid rgba(244, 128, 4, 0.908);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}